<div class="container-fluid p-4">
    <div class="row justify-content-center align-items-center">
      <div class="col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
          <div class="card text-center border-secondary shadow">
              <div class="card-body">
                  <form class="mt-3">
                      <a class="btn btn-link" [routerLink]="['/']">
                        <img src="../../../assets/logo" class="card-img" alt="logo">
                      </a>
                      <h5 class="card-title text-info mt-1">Registrar Huesped</h5>
                      <div class="form-group mt-1">
                          <input type="text" class="form-control mt-auto" placeholder="Nombres">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control mt-auto" placeholder="Apellidos">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control mt-auto" placeholder="Cedula">
                      </div>
                      <div class="form-group">
                          <input type="email" class="form-control mt-auto" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control mt-auto" placeholder="Pais">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control mt-auto" placeholder="Ciudad">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control mt-auto" placeholder="Direccion">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control mt-auto" placeholder="Username">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control mt-auto" placeholder="Password">
                      </div>
                      <div class="form-group">
                        <button class="btn btn-info btn-block">Registrar Huesped</button>
                      </div>
                      <p class="mt-2 mb-1 text-muted">Hotel Management System © HMS 2019</p>
                  </form>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="footer-basic">
    <footer>
        <div class="social">
            <a [routerLink]="['/']"><i class="icon ion-android-home"></i></a>
            <a href="https://github.com/"><i class="icon ion-social-github"></i></a>
            <a href="https://www.whatsapp.com/"><i class="icon ion-social-whatsapp"></i></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a [routerLink]="['/']">Inicio</a></li>
            <li class="list-inline-item"><a href="https://www.utp.edu.co/">Universidad Tecnológica de Pereira</a></li>
        </ul>
        <p class="copyright">Hotel Manegement System © HMS 2019</p>
    </footer>
</div>
