<div>
    <table>
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Cedula</th>
            <th scope="col">Pais</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo</th>
            <th scope="col">Numero de Habitaciones</th>
            <th scope="col">Fecha</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let reserva of reservas">
            <td>{{reserva.id}}</td>
            <td>{{reserva.nombres}}</td>
            <td>{{reserva.apellidos}}</td>
            <td>{{reserva.cedula}}</td>
            <td>{{reserva.pais}}</td>
            <td>{{reserva.ciudad}}</td>
            <td>{{reserva.direccion}}</td>
            <td>{{reserva.telefono}}</td>
            <td>{{reserva.correo}}</td>
            <td>{{reserva.numeroHabitaciones}}</td>
            <td>{{reserva.createAt}}</td>
        </tr>
        </tbody>
    </table>
</div>
