<div class="container p-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-3">
            <div class="card hovercard shadow">
                <div class="cardheader bg-light"></div>
                <div class="avatar">
                    <img alt="perfil" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div>
                <div class="info">
                    <div class="title">
                        <h6>Username: {{identidad.username}} </h6>
                    </div>
                    <div class="desc">Nombre:: {{identidad.nombre}}</div>
                    <div class="desc">Apellido: {{identidad.apellido}}</div>
                    <div class="desc">Correo: {{identidad.email}}</div>
                    <div class="desc">Rol: {{identidad.role}}</div>
                </div>
                <button class="align-content-center btn btn-info" type="button">
                    <i class="fas fa-edit"></i>
                </button>
            </div>
        </div>
        <div class='col-md-9'>
            <div class="shadow">
                <img src="../../../assets/perfil" class="rounded img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>	
</div>
